
@{
    ViewBag.Title = "Contact";
}

<script type="text/javascript">
    var page = "contact";
</script>

<div class="contact-page-wrapper">
    <div class="contact-information">
        <img src="~/images/Bill_picture.gif" />
    </div>
</div>