
@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/contact.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    var page = "contact";
</script>

<div id="contact-page-wrapper">
    <div id="contact-information">
        <img id="contact-image" src="~/images/Bill_picture.gif" />
        <p id="self-description">I have a passion for exotic recipes, and I travel the world to find them. The only thing I like more than finding a new exotic recipe is sharing that exotic recipe with others. Hence, this site. If you have a recipe you'd like to contribute, please email it to the address below. I'll evaluate it and see whether it's sufficiently exotic. If so, I'll post it on this site!</p>
        <p id="my-name">Bill</p>
        <div id="contact-container">        
            <a href"#">exotic-recipes@gmail.com</a>
            <a href="https://github.com/wcsanders1" target="_blank"><img src="~/images/GitHub_Logo.png" /></a>
        </div>
    </div>
</div>

<script src="~/Scripts/contact.js"></script>