@model ExoticRecipeWebsite.Models.DailyRecipes

@{
    ViewBag.Title = "Index";
}

<div class="recipe-of-day-container">
    <div class="ingredients">
        <h1>Ingredients</h1>
        <form type="text" action="index.html" method="post">
            <input type="number" id="serving-size" name="serving_size" value="4" min="1" max="20" maxlength="2" />
        </form>
        <ul>
            @foreach (string[] ingredient in Model.RecipeIngredients)
            {
                <li>@(ingredient[0] + ": " + ingredient[1] + " " + ingredient[2])</li>
            }
        </ul>
    </div>
    <div class="recipe-of-day">
        <h1>@Model.RecipeTitle</h1>
        <figure class="recipe-of-day-figure">
            <img src="@Model.RecipeImage" width="200" height="200" />
            <figcaption>@Model.RecipeCaption</figcaption>
        </figure>
    </div>
</div>