@{
    ViewBag.Title = "Home";
}

<div id="scroll-button-and-author-wrapper">
    <div id="scroll-button-wrapper">
        <script type="text/javascript">
            var searchUrl = "@Url.Action("GetAllTables", "Data")";
            var page = "index";
        </script>
        <button class="fa fa-step-backward scroll-buttons" type="submit" value="scroll" id="scroll-button-back"></button>
        <button class="fa fa-step-forward scroll-buttons" type="submit" value="scroll" id="scroll-button-forward"></button>
        <button class="fa fa-pause scroll-buttons" id="pause-scroll"></button>
        <button class="fa fa-play scroll-buttons activeCustom" id="play-scroll"></button>
    </div>
    <div id="author-wrapper">
        <p class="author">Recipe submitted by:</p>
        <p id="author-name" class="author">@*FILLED IN BY JS*@</p>
    </div>
</div>


<div id="recipe-name-container-wrapper">
    <div id="recipe-name-container" class="recipe-name-container">
        <h1 class="title" id="recipe-name"></h1>
    </div>
</div>

<div id="recipe-of-day-container" class="recipe-of-day-container">

    <div id="ingredients" class="ingredients">
        <h1 class="ingredients-headline">Ingredients:</h1>
        <div id="serving-size-form-button-wrapper">
            <form id="serving-size-input" type="text" action="index.html" method="post">
                <label for="serving-size">Serving Size:</label>
                <input type="number" id="serving-size" name="serving_size" value="4" min="1" max="20" maxlength="2" />
            </form>
            <button id="ingredient-button" type="submit">Calculate Amounts</button>
        </div>
        <div id="ingredients-container">
            @*FILLED IN BY SITE.JS*@
        </div>
        
    </div>

    <div id="recipe-of-day" class="recipe-of-day">
        <figure class="recipe-of-day-figure">
            <img id="recipe-image" width="300" height="300" />
            <figcaption id="recipe-caption"></figcaption>
        </figure>
    </div>

    <div id="instructions" class="instructions">
        <h1 class="instructions-headline">Instructions:</h1>
        <ol id="instructions-container">
            @*FILLED IN BY SITE.JS*@
        </ol>
    </div>
</div>

<script src="~/Scripts/index.js"></script>