

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>



<asp:Content runat="server">
    <h3>Load database data using JQuery</h3>
    <button id="btn-load-data" type="submit">Load Data</button>
    <div id="update-panel">

    </div>
</asp:Content>

<script src="~/Scripts/search.js"></script>