@{
    ViewBag.Title = "Search";
}

<h2>Try http://selectpdf.com/community-edition/ to print to PDF</h2>

<div id="search-wrapper">

</div>


    <h3>Load database data using JQuery</h3>
    <button id="btn-load-data" type="submit">Load Data</button>
    <div id="recipe-panel"></div>
    <div id="recipe-description"></div>
    <div id="recipe-instructions"></div>
    <div id="image-text"></div>
    <div id="ingredient-list-search"></div>

<script type="text/javascript">
    var searchUrl = "@Url.Action("GetAllTables", "Data")";
</script>
<script src="~/Scripts/search.js" ></script>