/************     THIS IS FOR ELEMENTS SOLELY IN THE INDEX VIEW    ****************************************/

#scroll-button-wrapper {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    padding: 30px 0;
}

.scroll-buttons {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    background-color: #1A5276;
    box-shadow: -10px -10px 10px rgba(60,60,60, 1);
    color: aliceblue;
}

    .scroll-buttons:active,
    .scroll-buttons.activeCustom {
        box-shadow: -5px -5px 5px rgba(60,60,60, 1);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

#pause-scroll {
    background-color: #922B21;
}

#play-scroll {
    background-color: #196F3D;
}

#author-wrapper {
    text-align: left;
    width: auto;
    align-self: center;
    font-family: Idion, sans-serif;
    font-size: 1.2em;
}

#scroll-button-and-author-wrapper {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#ingredients-figure-caption-wrapper {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#figure-caption-wrapper {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    order: -1;
    background-color: #DFE2DB;
    margin-bottom: 20px;
    width: 300px;
}

#recipe-figure {
    display: table;
    align-items: center;
    margin: 0;
    width: 300px;
    height: 300px;
    border: solid;
    box-shadow: -10px -10px 10px rgba(60,60,60, 1);
}

    #recipe-image {
        position: relative;
        width: 300px;
    }

    #recipe-caption {
        font-family: 'PT Serif', serif;
        font-size: 1.25em;
        border: solid;
    }

    #recipe-image,
    #recipe-caption {
        display: table-row;
    }

#overlay {
    z-index: 6; /* this # used to sync jquery with css w/r/t responsiveness */
}



/***************************************************************************************
    FOR SEMI-SEMI-FULL-SCREEN SIZE
****************************************************************************************/

@media screen and (min-width: 700px) {

    #recipe-caption {
        font-size: 1.25em;
    }

    #overlay {
        z-index: 7;
    }
}


/***************************************************************************************
    FOR SEMI-FULL-SCREEN SIZE
****************************************************************************************/

@media screen and (min-width: 1400px) {

    #ingredients-figure-caption-wrapper {
        align-items: center;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #figure-caption-wrapper {
        align-self: flex-start;
    }

    #recipe-image:hover {
        cursor: pointer;
    }

    #scroll-button-and-author-wrapper {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        top: 50px;
        align-items: center;
    }

    #scroll-button-wrapper {
        width: auto;
        margin-left: 5%;
        width: 200px;
    }

    #author-wrapper {
        text-align: left;
        margin-right: 5%;
        padding: 30px 0;
        width: 200px;
    }

    #overlay {
        z-index: 8;
    }

}



/**************************************************************************************
    FOR FULL-SCREEN SIZE
***************************************************************************************/

@media screen and (min-width: 1750px) {

    #ingredients-figure-caption-wrapper {
        justify-content: space-between;
    }

    #figure-caption-wrapper {
        margin-left: 0;
        margin-right: 0;
        z-index: 1;
        margin-bottom: 20px;
    }

    #scroll-button-and-author-wrapper {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        justify-content: center;
        align-self: center !important;
        position: absolute !important;
        margin-top: 500px;
        width: 100% !important;    /* used to be 45% */
        top: 0;
        z-index: 0;
    }

    #scroll-button-wrapper {
        margin: 0;
        margin-right: 25%;
    }

    #author-wrapper {
        padding-right: 20px;
        margin: 0;
    }

    #overlay {
        z-index: 10;
    }
}



/**************************************
       OVERLAY
***************************************/

#overlay {
    background: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
}

    #overlay img {
        align-self: center;
        height: 600px;
        width: 600px;
    }

    #overlay p {
        color: #fff;
        margin-top: 15px;
        font-family: WinkBold;
        font-size: 2em;
    }


/***************************************
    TOOLTIP
****************************************/

#tooltip {
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    z-index: 5;
}