#search-page-measurement {
    z-index: 1;
}

#search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 30px;
    overflow-x: scroll;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #1A5276;
    border: 2px black solid; 
    font-family: Idion, sans-serif;
    font-size: 1.25em;
    color: #DFE2DB;
}

.name-and-image {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.search-image {
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}

#search-recipes-by-name {
    align-self: center;
    margin-top: 20px;
    font-family: Idion, sans-serif;
    font-size: 1.5em;
}

#get-recipe-name {
    border: 1px solid;
}

#print-wrapper {
    width: 90%;
    margin: 5%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 30px;
    box-shadow: inset 0 0 40px rgba(60,60,60, 1);
    background-color: #196F3D;
}

#recipe-name-container {
    margin: 10px 0 50px 0;
}

#caption-image-author-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#caption { 
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 40px rgba(60,60,60, 1);
    font-family: Idion, sans-serif;
    font-size: 1.5em;
    background-color: #DFE2DB;
    border: 2px solid;
}

#image {
    border: solid;
    box-shadow:  -10px -10px 10px rgba(60,60,60, 1);
}

#author-wrapper-search {
    text-align: left;
    width: auto;
    align-self: center;
    font-family: Idion, sans-serif;
    font-size: 1.2em;
}

#ingredients-instructions-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ingredients {
    border: 2px solid;
}

#print-recipe-button {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    background-color: #1A5276;
    box-shadow:  -10px -10px 10px rgba(60,60,60, 1);
    color: aliceblue;
}

#print-recipe-button:active {
    box-shadow:  -5px -5px 5px rgba(60,60,60, 1);
    transform: translateY(-5px);
}



/*********************   SEMI-SEMI-FULL SIZE   **************************************/

@media screen and (min-width: 600px) {
    
    #search-page-measurement {
        z-index: 2;
    }

    .search-image {
        height: 200px;
        width: 200px;
    }

    #caption {
        width: 350px;
    }

    #ingredients {
        width: 350px;
        margin-left: 0;
    }

    #instructions {
        width: 350px;
        margin-right: 0;
    }
}



/*********************   FULL-SIZE   *******************************************/

@media screen and (min-width: 1200px) {

    #search-page-measurement {
        z-index: 3;
    }

    .name-and-image {
        flex-shrink: 0;
    }

    #print-wrapper {
        min-height: 550px;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    
    #caption-image-author-wrapper {
        flex-direction: row;
        align-items: flex-start;        
    }

    #caption {
        width: 350px;
    }

    #author-wrapper-search {
        align-self: flex-start;
    }

    #image {
        margin: 0 10%;
    }

    #ingredients {
        order: 0;
        width: 350px;
    }

    #instructions {
        border: 2px solid;
        margin-left: 10%;
        width: 350px;
    }

    #ingredients-instructions-wrapper {
        flex-direction: row;
    }

}

@media screen and (min-width: 1600px) {
    #search-page-measurement {
        z-index: 4;
    }

    #container-body-content {
        flex-direction: row;
    }
    
    #search-wrapper {
        flex-direction: column;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 2%;     
        width: 230px;
        height: 550px;
        overflow-y: scroll;
        align-items: center;
        overflow-x: hidden;
        flex-shrink: 0;
    }
    
    #caption {
        width: 450px;
    }

    #ingredients {
        width: 450px;
    }

    #instructions {
        width: 450px;
    }
}



/*********************   PRINT   **************************/

@media print {

    
    body {
        visibility: hidden;
    }

    header {
        height: 0;
    }
    
    @page { size: auto; margin: 0mm; }

    #caption-image-author-wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;    
        visibility: visible;    
    }
    
    #ingredients-instructions-wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        visibility: visible;
    }

    #print-wrapper {
        visibility: hidden;
        position: absolute;
        top: 0;
        border: none !important;
        margin-top: 0;
        background-color: none;
    }

    #recipe-name-container-wrapper {
        visibility: visible;
    }

    #caption {
        
        font-size: 1em;
        width: 200px;
    }

    #image {
        
        box-shadow: none;
    }

    #ingredients {
        font-size: 1em;
        width: 330px;
    }

    #serving-size-form-button-wrapper {
        padding-bottom: 20px;
    }

    .ingredient-borders {
        border-bottom: 1px solid;
    }

    #instructions {
        font-size: 1em;
        width: 330px;
        border: 2px solid;
    }

    #print-recipe-button {
        display: none;
    }

    #ingredient-button {
        display: none;
    }
}