/*****************************************
    FONTS
*****************************************/

@font-face {
    font-family: "Handi";
    src: url("../fonts/Handi.otf");
    src: url("../fonts/Handi.eot");
    src: url("../fonts/Handi.eot?iefix") format("embedded-opentype"), url("../fonts/Handi.woff") format("woff"), url("../fonts/Handi.ttf") format("truetype");
}

@font-face{
    font-family: "Idion";
    src: url("../fonts/Idion.otf");
    src: url("../fonts/Idion.eot");
    src: url("../fonts/Idion.eot?iefix") format("embedded-opentype"), url("../fonts/Idion.woff") format("woff"), url("../fonts/Idion.ttf") format("truetype");
}

@font-face {
    font-family: "WinkBold";
    src: url("../fonts/WinkBold.otf");
    src: url("../fonts/WinkBold.eot");
    src: url("../fonts/WinkBold.eot") format("embedded-opentype"), url("../fonts/WinkBold.woff") format("woff"), url("../fonts/WinkBold.ttf") format("truetype");
}

@font-face{
    font-family: "Wonki";
    src: url("../fonts/Wonkie.otf");
    src: url("../fonts/Wonkie.eot");
    src: url("../fonts/Wonki.eot?iefix") format("embedded-opentype"), url("../fonts/Wonkie.woff") format("woff"), url("../fonts/Wonkie.ttf") format("truetype");
}



/****************************************************************************
    FOR CELL-PHONE SIZE AND ABOVE
*****************************************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #DFE2DB
}

a:hover {
    color: crimson;
}

ul {
    list-style: none;
}

.hidden-ingredient-amounts {
    display: none;
    width: 0;
    height: 0;
}



/***************************************
    HOME PAGE
****************************************/

.scroll-button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 30px 0;
}

#scroll-button-back,
#scroll-button-forward{
    max-width: 40px;
    margin: 0;
}

.recipe-of-day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;   
}

.main-header {
    background-color: #191919;
    color: #DFE2DB;
    text-align: center;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-menu-wrapper {
    display: flex;
    flex-direction: column;
}

.header-title {
    padding-bottom: 30px;
    font-family: "Handi", sans-serif;
    font-size: 5em;
}


.header-menu li {
    margin: 10px 0;
    font-family: "Idion", sans-serif;
    font-size: 2em;
}

.header-image-left,
.header-image-right {
    background:  url("../images/bowl_of_steaming_soup_clip_art_13404.gif") no-repeat center;
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
}

.container-body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.container-body-content::after {
    content: "";
    background: url("../images/old_world_map.gif") no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    opacity: .15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

footer {
    margin-top: auto;
    background-color: #191919;
    color: #DFE2DB;
    font-family: Idion;
    font-size: 1.2em;
}

footer p {
    margin-left: 40px;
}

.recipe-name-container {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-content: center;
    justify-content: center;
    font-family: WinkBold;
    font-size: 2em;
}

.ingredients-headline {
    display: flex;
    align-self: flex-start;
    order: 0;
    margin: -80px 0 40px 0;
    font-size: 2em;
}

.recipe-name-container .title {

}

.ingredients {
    width: 350px;
    border: solid;
    order: 1;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 40px rgba(60,60,60, 1);
    font-family: Wonki;
    font-size: 1.5em;
    background-color: #DFE2DB;
}

.serving-size-input {
    margin-bottom: 20px;
    border-bottom: solid 1px;
}

.serving-size-input #serving-size {
    box-shadow: inset 2px 2px rgba(0,0,0, .15);
    text-align: center;
}

.ingredient-lists-container {
    display: flex;
    flex-direction: row;
}

.ingredient-names-list {
    flex: 2;
    border-bottom: 1px dotted;
}

.ingredient-names-list ul li,
.ingredient-amounts-list ul li {
    margin-bottom: 5px;   
}

#ingredient-amounts {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted;
}

#ingredient-amounts .numerical-amounts {
    width: 30px;
    margin-left: -30px;
}

#ingredient-amounts .amount-labels {
    margin-left: 30px;
}

.ingredient-amounts-list {
    flex: 1;
}

button {
  padding: 0;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(60,60,60,0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

.recipe-of-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    order: -1;
    background-color: #DFE2DB;
    margin-bottom: 20px;
}

.recipe-of-day-figure {
    display: table;
    align-items: center;
    margin: 0;
    width: 300px;
    height: 300px;
    border: solid;
}

.recipe-of-day-figure img {
    position: relative;
}

.recipe-of-day-figure figcaption {
    font-family: Wonki;
    font-size: 1.25em;
    border: solid;
}

.recipe-of-day-figure img,
.recipe-of-day-figure figcaption {
    display: table-row;
}

.recipe-of-day-image-container{
    height: 300px;
    width: 300px;
    position: relative;
}

.recipe-of-day-figure img {
    box-shadow:  -10px -10px 10px rgba(60,60,60, 1);
}

.instructions {
    order: 2;
    width: 350px;
    border: solid;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 30px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 40px rgba(60,60,60, 1);
    font-family: Wonki;
    font-size: 1.5em;
    background-color: #DFE2DB;
}

.instructions ol {
    padding-left: 30px;
}

.instructions-headline {
    margin: -80px 0 40px 0;
    font-size: 2em;
}



/*********************************
    SEARCH PAGE
**********************************/

#image-text {
    height: 200px;
    width: 200px;
}

#search-wrapper {
    max-height: 300px;
    overflow-y: scroll;
    width: 120px;
}

.search-image {
    height: 100px;
    width: 100px;
    margin: 5px 0;
}

/*********************************
    CONTACT PAGE
**********************************/
.contact-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact-information img {
    width: 200px;
    border-radius: 100%;
}

#recipe-panel {
    border: 1px solid;
    background-color: lightblue;
    width: 200px;
}

#recipe-panel p {
    border: 1px solid;
}




/***************************************************************************************
    FOR SEMI-SEMI-FULL-SCREEN SIZE
****************************************************************************************/
@media screen and (min-width: 850px) {
    
    .header-menu li {
        display: inline-block;
        margin: 0 40px;
    }

    .header-image-left {
        margin-right: 5%;
    }

    .header-image-right {
        margin-left: 5%;
    }

     .recipe-of-day-container {
        align-items: center;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
    }
    
    .recipe-of-day {
        margin-left: auto;
        margin-right: 5%;

    }

    .ingredients {
        left: 0;
        align-self: flex-start;
        position: absolute;
        order: 0;
        border-left: 0;
        margin-top: 0;
    }
    
    .recipe-name-container h1 {
        margin-left: auto;
        margin-right: 5%;
        width: 300px;
        text-align: center;
    }

    .instructions {
        flex: 0 1 100%;
        align-self: flex-start;
        border-left: 0;
        border-right: 0;
    }
}


/*****************************************
    FOR SEMI-FULL-SCREEN SIZE
*****************************************/

@media screen and (min-width: 1050px) {

    .recipe-of-day {
        margin-left: 0;
        margin-right: 0;
    }

    .recipe-name-container h1 {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .recipe-name-container {
        font-size: 3em;
    }

    .instructions {
        flex: 0;
        position: absolute;
        right: 0;
        margin-top: 0;
        border-left: solid;
    }
}




/*****************************************
    FOR FULL-SCREEN SIZE
*****************************************/

@media screen and (min-width: 1250px) {
    
    .header-image-left,
    .header-image-right {
        height: 100px;
        width: 100px;
    }

    .header-image-left {
        margin-right: 15%;
    }

    .header-image-right {
        margin-left: 15%;
    }

    .ingredients {
        width: 450px;
    }

    .instructions {
        width: 450px;
    }

    .recipe-of-day-figure img:hover {
        cursor: pointer;
    }

    #overlay {
        z-index: 10;
    }
}

/**************************************
       OVERLAY
***************************************/

#overlay {
    background: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#overlay img {
    align-self: center;
    height: 600px;
    width: 600px;
}

#overlay p {
    color: #fff;
    margin-top: 15px;
    font-family: WinkBold;
    font-size: 2em;
}


/***************************************
    TOOLTIP
****************************************/

.tooltip {
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
}


/*****************************************
CLEARFIX
*****************************************/

/*.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}*/