/*****************************************
    FONTS
*****************************************/

@font-face {
    font-family: "Handi";
    src: url("../fonts/Handi.otf");
    src: url("../fonts/Handi.eot");
    src: url("../fonts/Handi.eot?iefix") format("embedded-opentype"), url("../fonts/Handi.woff") format("woff"), url("../fonts/Handi.ttf") format("truetype");
}

@font-face{
    font-family: "Idion";
    src: url("../fonts/Idion.otf");
    src: url("../fonts/Idion.otf");
    src: url("../fonts/Idion.eot?iefix") format("embedded-opentype"), url("../fonts/Idion.woff") format("woff"), url("../fonts/Idion.ttf") format("truetype");
}



/*****************************************
    FOR CELL-PHONE SIZE AND ABOVE
*****************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style: none;
}

.main-header {
    background-color: burlywood;
    text-align: center;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-menu-wrapper {
    display: flex;
    flex-direction: column;
}

.header-title {
    padding-bottom: 30px;
    font-family: "Handi", sans-serif;
    font-size: 5em;
}


.header-menu li {
    margin: 10px 0;
    font-family: "Idion", sans-serif;
    font-size: 2em;
}

.header-image-left,
.header-image-right {
    background:  url("../images/bowl_of_steaming_soup_clip_art_13404.gif") no-repeat center;
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
}

.container-body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer {
    margin-top: auto;
}

.recipe-of-day-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.ingredients {
    width: 200px;
    border: solid;
}

.recipe-of-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    order: -1;
}

.recipe-of-day-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}


/*****************************************
    FOR SEMI-FULL-SCREEN SIZE
*****************************************/

@media screen and (min-width: 880px) {

    .header-menu li {
        display: inline-block;
        margin: 0 40px;
    }

    .header-image-left {
        margin-right: 5%;
    }

    .header-image-right {
        margin-left: 5%;
    }

    .recipe-of-day-container {
        flex-direction: row;
        position: relative;
    }

    .ingredients {
        left: 0;
        align-self: flex-start;
        position: absolute;
        order: 0;
    }
}




/*****************************************
    FOR FULL-SCREEN SIZE
*****************************************/

@media screen and (min-width: 1250px) {
    .header-image-left,
    .header-image-right {
        height: 100px;
        width: 100px;
    }

    .header-image-left {
        margin-right: 15%;
    }

    .header-image-right {
        margin-left: 15%;
    }
}




/*****************************************
CLEARFIX
*****************************************/

/*.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}*/